/* body
{
    background-color: var(--branco);
    color: var(--texto-escuro);
}

.tela-cadastro
{
    background-color: rgb(255, 0, 0);
    display: flex;
    height: 20vh;
    border-radius: 1vh;
    
}

.logo
{
    width: 50%;
    margin: 50px 0 10px;
}

.titulo
{
    margin: 0 0 60px;
    font-size: 0.9em;
    font-weight: 300;
}

.substitulo
{
    color: var(--amarelo);
    font-weight: 600;
    margin-top: 50px;
    text-decoration: underline;
} */

body
{
    background-color: var(--branco);
    color: var(--texto-escuro);

}

.tela-cadastro {
    margin: 2vh;
    background-color: var(--fundo); 
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20vh;
    border-radius: 2vh;
    padding: 1vh;
}

.textos-cadastro
{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    padding: 1vh;
    gap: 0.5vh;
    margin-top: 5vh; 
    
}
.logo {

    width: 10vh;
    margin-top: 4vh;
    display: flex;
    justify-self: flex-end;
       
}

.titulo {
    color: var(--branco);
    font-size: 2em;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    text-align: left;
       
}

.subtitulo {
    color: var(--branco);
    font-weight: 400;
    margin-top: 10px;
    text-decoration: underline;
    display: flex;
    justify-content: flex-start;    
}




